<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.net>
		<mailSettings>
			<smtp from="jonahsvillas@gmail.com">
				<network password=""
						 userName="jonahsvillas@gmail.com"
						 port="587"
						 defaultCredentials="false"
						 host="smtp.gmail.com"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>