<?xml version="1.0" encoding="utf-8"?>
<!-- Copy of App.config with login information hidden -->
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.net>
		<mailSettings>
			<smtp from="**************">
				<network password="**************" userName="**************" port="587" defaultCredentials="false" host="smtp.gmail.com" />
			</smtp>
		</mailSettings>
	</system.net>
	<appSettings>
		<add key="ADMIN_USERNAME" value="admin" />
		<add key="ADMIN_PASSWORD" value="admin" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>